__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
.eggs/
venv/
.venv/
*.pkl
*.npz
*.ckpt
*.tar.gz
maxit-v11.300-prod-src/
maxit-v11.300-prod-src.tar.gz
maxit.log
bin/
sample/CDK2/results/
sample/CDK2/boltz_results_base/lightning_logs/
*.pid
.DS_Store
